body {
	margin: 40px auto;
	max-width: 800px;
	line-height: 1.6;
	font-size: 20px;
	color: #444;
	padding: 0 10px;
	font-family: Calibri, sans-serif;
}

p {
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	unicode-bidi: isolate;
}

.img_responsive {
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

table {
	margin-left: auto;
	margin-right: auto;
}

table, th, td {
	border: 2px solid black;
	border-collapse: collapse;
	padding: 10px;
}

th {
	font-size: 22px;
}